<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" rel="icon" href="/favicon.ico" />
<meta name="description" content="Quick and easy sharing of markdown text" />
<meta name="keywords" content="markdown, pastebin, markdownsharing, sharing markdown" />
<style>
#include static/css/style.css
</style>
<link rel="author" href="/humans.txt" />
<title>MarkdownShare : Edit your markdown</title>
</head>
<body>
<div id="wrap">
<div id="header">
<h1><a href="/">MarkdownShare.com</a></h1>
<h2>Quick and easy sharing of markdown text</h2>
</div>

<div id="topmenu">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/api/">API</a></li>
<li><a href="/create/">Create</a></li>
<li><a href="/cheatsheet/">CheatSheet</a></li>
<li><a href="/faq/">FAQ</a></li>
</ul>
</div>

<div id="content">
    {{if .HTML}}
    <h1>Your Markdown Preview</h1>
    <blockquote>
      {{.HTML}}
    </blockquote>
    {{end}}
    <h1>Edit your Markdown</h1>
    <blockquote>
      <form action="/edit/{{.Key}}" method="post" >
        <div class="ta">
          <textarea rows="40" cols="200" name="text">{{.Content}}</textarea>
        </div>
        <p>
          <input type="submit" name="submit" value="Preview" />
          <input type="submit" name="submit" value="Update" />
        </p>
      </form>
    </blockquote>
</div>
<div class="clear"> </div>
<div id="footer">
  <div class="left">
  </div>
  <div class="right">
    Copyright &copy; 2014-2018 by <a href="https://steve.kemp.fi/">Steve Kemp</a>
  </div>
  <div class="clear"> </div>
</div>

</div>
<script type="text/javascript">
#include static/js/k.js
</script>
</body>
</html>
